@import url('//fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

@font-face {
    font-family: 'Font Icons';
    src: url('../fonts/fontello-icons.eot?49264205');
    src: url('../fonts/fontello-icons.eot?49264205#iefix') format('embedded-opentype'),
        url('../fonts/fontello-icons.woff2?49264205') format('woff2'),
        url('../fonts/fontello-icons.woff?49264205') format('woff'),
        url('../fonts/fontello-icons.ttf?49264205') format('truetype'),
        url('../fonts/fontello-icons.svg?49264205#fontello-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-space-mono: 'Space Mono', monospace;
$font-open-sans: 'Open Sans', sans-serif;
$font-icons: 'Font Icons';

$font-weight--normal: 400;
$font-weight--medium: 600;
$font-weight--bold: 700;

body {
    color: $white;
    font-family: $font-open-sans;
    font-size: 1.1rem;
    line-height: 1.5;
}

h1 {
    font-size: 1.625rem; // 26px
    font-weight: $font-weight--bold;
    letter-spacing: calc(0.5/26) + em;
    margin: 0 0 0 2.4rem;
}

h2 {
    font-size: 1.25rem; // 20px
    font-weight: $font-weight--bold;
    letter-spacing: calc(0.25/20) + em;
}

h3 {
    font-size: 1rem; // 16px
    font-weight: $font-weight--bold;
    letter-spacing: calc(0.25/16) + em;
}

h4 {
    font-size: 0.875rem; // 14px
    font-weight: $font-weight--medium;
    letter-spacing: calc(0.25/14) + em;
}

h5 {
    font-size: 0.625rem; // 10px
    font-weight: $font-weight--bold;
    letter-spacing: calc(0.5/10) + em;
    text-transform: uppercase;
    margin: 0;
}

h6 {
    font-size: 0.625rem;
    font-weight: $font-weight--normal;
}

a {
    &:hover {
        color: var(--yellow);
    }
}

small,
.small {
    @extend %small;
    font-weight: inherit;
}

sup,
sub {
    font-size: 0.5em;
}

sup {
    top: -1em;
}

legend {
    font-size: 1rem;
}

// Body / Base / Strong
strong {
    font-weight: $font-weight--medium;
}

em {
    font-style: italic;
}

label {
    font-weight: $font-weight--medium;
    letter-spacing: -calc(0.1/14)+em;

    &.text-uppercase {
        font-size: 0.75rem;
        letter-spacing: calc(0.25/14)+em;
    }

    small {
        @extend %small;
        letter-spacing: -calc(0.25/12)+em;
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Font Icons";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: '\e800';
}

.icon-apple-music:before {
    content: '\e801';
}

.icon-mobile:before {
    content: '\e802';
}

.icon-mail:before {
    content: '\e803';
}

.icon-location:before {
    content: '\e804';
}

.icon-clock:before {
    content: '\e805';
}

.icon-diamond:before {
    content: '\f219';
}

.icon-id-badge:before {
    content: '\f2c1';
}

.icon-github:before {
    content: '\f300';
}

.icon-facebook:before {
    content: '\f30c';
}

.icon-linkedin:before {
    content: '\f318';
}


.icon-instagram:before {
    content: '\f32d';
}
