/**
* Menu hamburger
*/
.hamburger {
    display: block;
    position: relative;
    z-index: $z-index-level-6;

    &,
    &:before,
    &:after {
        background: var(--white);
        width: 1.5em;
        height: .2em;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
    }

    &:before {
        top: 6px;
    }

    &:after {
        bottom: 6px;
    }
}

.close {

    .hamburger {
        height: 1px;
        background: transparent;

        &:after,
        &:before {
            background: var(--white);
            width: 1.5em;
        }

        &:before {
            transform: rotate(0.625turn) translate(0, 0)
        }

        &:after {
            transform: rotate(-0.625turn) translate(0, 0)
        }
    }
}
