/**
* heading
*/
.h1 {
    @include font-size(40);
    font-weight: $font-weight--bold;
    margin: 20px 0;
}

.h2 {
    @include font-size(23);
    font-weight: $font-weight--bold;
    margin: 24px 0 15px 0;
}

.h3 {
    margin: 15px 0;
}

/**
*
* Arrows
*
**/
.arrow--left {
  &:before {
    content: '\2190  ';
  }
}

.arrow--right {
  &:after {
    content: ' \2192';
  }
}

.arrow--up {
  &:before {
    content: '\2191  ';
  }
}

.arrow--down {
  &:before {
    content: '\2193  ';
  }
}