/**
*
* Arrows
*
**/
.arrow--left {
  &:before {
    content: '\2190  ';
  }
}

.arrow--right {
  &:after {
    content: ' \2192';
  }
}

.arrow--up {
  &:before {
    content: '\2191  ';
  }
}

.arrow--down {
  &:before {
    content: '\2193  ';
  }
}
