/**
* global enhacements
*/
$base__fontPrimary: $font-open-sans;
$base__fontSize: 18px;
$base__maxWidth: 960px;
/**
*
* Border-box sizing by default
*
**/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**
*
* Base font size for REM usage
*
**/

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    @include font-size($base__fontSize);
    height: 100vh;
    margin: 0;
    background: rgb(22, 74, 65);
    background: linear-gradient(90deg, rgba(22, 74, 65, 1) 0%, rgba(77, 119, 78, 1) 50%, rgba(157, 200, 141, 1) 100%);
    color: $white;
    font-family: $base__fontPrimary;
    line-height: 1.5;
}

/**
* heading
*/
h1 {
    @include font-size(40);
    font-weight: $font-weight--bold;
    margin: 20px 0;
}

h2 {
    @include font-size(23);
    font-weight: $font-weight--bold;
    margin: 24px 0 15px 0;
}

h3 {
    margin: 15px 0;
}

/**
* text
*/
p {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: $font-weight--bold;
}

/**
*
* Arrows
*
**/
.arrow--left {
  &:before {
    content: '\2190  ';
  }
}

.arrow--right {
  &:after {
    content: ' \2192';
  }
}

.arrow--up {
  &:before {
    content: '\2191  ';
  }
}

.arrow--down {
  &:before {
    content: '\2193  ';
  }
}

/**
*
* Vertical align
*
**/

%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
