%small {
    // Use string interpolation and calc() to avoid using Sass own max() function.
    // See: https://github.com/sass/node-sass/issues/2815#issuecomment-575926329
    font-size: calc(min(0.75rem, #{calc(11/12)}em));
    line-height: 1rem;
}

/**
*
* Vertical align
*
**/

%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

%item-separator {
    @include media(">=tablet") {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;

        > a {
            margin: 0 .75em;
        }

        &:after {
            content: " ";
            background: var(--white);
            position: relative;
            display: flex;
            justify-content: center;
            align-self: center;
            width: .5em;
            height: .5em;
            border-radius: 50%;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
