$font-size-base: 0.875rem;
$line-heigh-base: calc(20/14);

/* Breakpoints */
$breakpoints: ('phone': 320px,
    'smartphone': 425px,
    'tablet': 768px,
    'laptop': 1024px,
    'desktop': 1441px);

/* Paths */
/* Grid setup */
/* Components */
/* Utilities */
/**
 * Z-index levels
 **/
$z-index-level-1: 9;
$z-index-level-2: 99;
$z-index-level-3: 999;
$z-index-level-4: 9999;
$z-index-level-5: 99999;
$z-index-level-6: 999999;

:root {
    --font-size-base: #{$font-size-base};
    --line-height-base: #{$line-heigh-base};
    --max-width: 960px;
}