/**
 * Variables
*/

/* Typography */
$font-space-mono: 'Space Mono', monospace;
$font-open-sans: 'Open Sans', sans-serif;
$font-icons: 'Font Icons';

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$dark-green: #164a41;
$medium-green: #4d774e;
$light-green: #9dc88d;
$natural-yellow: #f1b24a;

$caption-color: #464646;
$accent-color: #999;
$link-color: #fff;

/* Components */
