@import "./header/menu-hamburger";
@import "./header/brand";
@import "./header/menu";

.main {
    &-header {
        display: flex;
        justify-content: space-between;
        padding: .75rem;

        .btn_toggle {
            background: transparent;
            border: 0;
            cursor: pointer;
            height: 23px;
            padding: .25em;
            position: fixed;
            right: 2em;
            top: 2.5em;
            z-index: $z-index-level-6;

            @include media(">=tablet") {
                display: none;
            }
        }
    }

    &-nav {
        position: fixed;
        background: var(--black);
        color: var(--white);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-index-level-3;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(.5, 0,.5,1);

        &--show {
            transform: translateX(0%);
        }

        @include media(">=tablet") {
            position: inherit;
            background: none;
            margin: 0 4.5em;
        }
    }
}
