header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid $white;
    z-index: $z-index-level-2;

    .header-logo {
        width: 141px;
        margin: 1em;
    }
}
