@import "./header/menu-hamburger";
@import "./header/brand";
@import "./header/menu";

.main {
    &-header {
        display: flex;
        justify-content: space-between;
        padding: .75rem;
    }

    &-nav {
        position: fixed;
        background: var(--black);
        color: var(--white);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-index-level-3;
        transform: translateX(0%);
        transition: transform 250ms cubic-bezier(.5, 0,.5,1);

        @include media(">=tablet") {
            position: inherit;
            background: none;
            margin: 0 4.5em;
        }

    }
}
