<header class="main-header">
  <div class="header-logo">
    <a href="/" title="Homepage">
      <img src="assets/midias/brand/logo-white-transparent.png" alt="DTeruel logo" />
    </a>
  </div>
  <div class="menu-btn">
    <div class="line-top"></div>
    <div class="line-middle"></div>
    <div class="line-bottom"></div>
  </div>
  <nav class="main-nav">
    <ul class="menu">
      <li class="menu-item">
        <a href="#home" class="current" title="Homepage">Home</a>
      </li>
      <li class="menu-item">
        <a href="#about" title="About">About me</a>
      </li>
      <li class="menu-item">
        <a href="#social-media" title="Social Media">Social Media</a>
      </li>
      <li class="menu-item">
        <a href="#contact" title="Connect">How to reach me</a>
      </li>
    </ul>
  </nav>
</header>
