<header>
    <div id="brand" class="header-logo">
        <a href="/" title="Homepage">
            <img
                src="assets/images/logo-white-transparent.png"
                alt="DTeruel logo"
            />
        </a>
    </div>
    <div class="menu-btn">
        <div class="line-top"></div>
        <div class="line-middle"></div>
        <div class="line-bottom"></div>
    </div>
    <nav class="main-nav">
        <ul class="menu">
            <li class="nav-item current">
                <a href="/" title="Homepage">Home</a>
            </li>
            <li class="nav-item">
                <a href="/" title="About">About me</a>
            </li>
            <li class="nav-item">
                <a href="/" title="Social Media">Social Media</a>
            </li>
            <li class="nav-item">
                <a href="/" title="Connect">How to reach me</a>
            </li>
        </ul>
    </nav>
</header>
