<header class="main-header">
  <div class="header-logo">
    <a href="/" title="Homepage">
      <img src="assets/midias/brand/logo-white-transparent.png" alt="DTeruel logo" />
    </a>
  </div>
  <button class="btn_toggle" aria-label="toggle navigation">
    <span class="hamburger"></span>
  </button>
  <nav class="main-nav">
    <ul class="menu">
      <li class="menu-item">
        <a href="#home" class="menu-link" title="Homepage">Home</a>
      </li>
      <li class="menu-item">
        <a href="#about" class="menu-link" title="About">About me</a>
      </li>
      <li class="menu-item">
        <a href="#social-media" class="menu-link" title="Social Media">Social Media</a>
      </li>
      <li class="menu-item">
        <a href="#contact" class="menu-link" title="Connect">How to reach me</a>
      </li>
    </ul>
  </nav>
</header>
